@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
:root {}

@keyframes load-fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    background-color: #101010;
}

#videobg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.textMain {
    color: #502569;
    font-family: 'Readex Pro', sans-serif;
    transition: 0.3s;
}

.devtext {
    position: absolute;
    bottom: 2vw;
    left: 3%;
    font-size: 1vw;
    color: gray;
    font-family: 'Readex Pro', sans-serif;
}

.devtext>a {
    color: rgb(170, 170, 170);
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
}

.transsense {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #66faff, #ff66f7, #66faff);
    background-size: 200%;
    animation: shine 2s linear infinite;
}

input::-webkit-input-placeholder {
    transition: 0.3s;
}

input:focus::-webkit-input-placeholder {
    color: rgba(255, 0, 255, 0.5);
}

input:focus {
    outline: none;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes slidein {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes growin {
    0% {
        transform: scale(0%, 0%);
    }
    100% {
        transform: scale(100%, 100%);
    }
}

@keyframes discordglow {
    0% {}
    100% {
        text-shadow: 0 0 5px rgb(88, 101, 242, 0.2), 0 0 10px rgb(88, 101, 242, 0.2), 0 0 25px rgb(88, 101, 242, 0.2);
    }
}

@keyframes twitterglow {
    0% {}
    100% {
        text-shadow: 0 0 5px rgb(29, 161, 242, 0.2), 0 0 10px rgb(29, 161, 242, 0.2), 0 0 25px rgb(29, 161, 242, 0.2);
    }
}

@keyframes steamglow {
    0% {}
    100% {
        text-shadow: 0 0 5px rgb(141, 8, 255, 0.2), 0 0 10px rgb(141, 8, 255, 0.2), 0 0 25px rgb(141, 8, 255, 0.2);
    }
}

@keyframes prnsglow {
    0% {}
    100% {
        text-shadow: 0 0 5px rgb(227, 111, 250, 0.2), 0 0 10px rgb(227, 111, 250, 0.2), 0 0 25px rgb(227, 111, 250, 0.2);
    }
}

body {
    overflow: hidden;
    /* Hide scrollbars */
}


/* noise bg */

body {
    background-color: #111111;
    margin: 0;
    overflow-x: hidden;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite, fadein 1.5s;
    opacity: .9;
    visibility: visible;
}

@keyframes bg-animation {
    0% {
        transform: translate(0, 0)
    }
    10% {
        transform: translate(-5%, -5%)
    }
    20% {
        transform: translate(-10%, 5%)
    }
    30% {
        transform: translate(5%, -10%)
    }
    40% {
        transform: translate(-5%, 15%)
    }
    50% {
        transform: translate(-10%, 5%)
    }
    60% {
        transform: translate(15%, 0)
    }
    70% {
        transform: translate(0, 10%)
    }
    80% {
        transform: translate(-15%, 0)
    }
    90% {
        transform: translate(10%, 5%)
    }
    100% {
        transform: translate(5%, 0)
    }
}

.logo {
    font-family: 'Readex Pro', sans-serif;
    font-size: 5vw;
    background: linear-gradient(45deg, rgb(141, 8, 255), rgb(255, 161, 0));
    padding: 2vw;
    margin: 0%;
    position: absolute;
    top: 1.5vw;
    left: -1vw;
    white-space: nowrap;
    filter: drop-shadow(0.2vw 0.2vw rgba(0, 0, 0, 0.5));
    text-align: left;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s letter-spacing;
    cursor: default;
}

#tagcontainer {
    display: flex;
    flex-wrap: nowrap;
    margin: 0%;
    position: absolute;
    top: 10vw;
    left: 2vw;
}

#tagcontainer>h3 {
    font-family: 'Readex Pro', sans-serif;
    font-size: 1vw;
    padding: .3vw;
    padding-right: .6vw;
    padding-left: .6vw;
    margin: 0.2vw;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    background: linear-gradient(45deg, rgb(74, 0, 126), rgb(189, 0, 255))
}

.desc {
    font-family: 'Readex Pro', sans-serif;
    font-size: 2.5vw;
    position: absolute;
    top: 12vw;
    padding: 2vw;
    margin: 1vw;
    transition: 0.3s;
    left: 3%;
    z-index: 5;
}

a {
    text-decoration: none;
}

#discord {
    background: linear-gradient(45deg, rgb(122, 122, 122), rgb(62, 62, 62) 25%, #5865F2 100%);
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#discord:hover {
    background-size: 100% auto;
    animation: discordglow 0.3s ease-in-out forwards;
}

#twitter {
    background: linear-gradient(45deg, rgb(122, 122, 122), rgb(62, 62, 62) 25%, #1DA1F2 100%);
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#twitter:hover {
    background-size: 80% auto;
    animation: twitterglow 0.3s ease-in-out forwards;
}

#steam {
    background: linear-gradient(45deg, rgb(122, 122, 122), rgb(62, 62, 62) 25%, #8d08ff 100%);
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#steam:hover {
    background-size: 100% auto;
    animation: steamglow 0.3s ease-in-out forwards;
}

#prns {
    background: linear-gradient(45deg, rgb(122, 122, 122), rgb(62, 62, 62) 25%, #e36ffa 100%);
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s;
}

#prns:hover {
    background-size: 100% auto;
    animation: prnsglow 0.3s ease-in-out forwards;
}

#steam:hover>#steamsvg {
    fill: #8d08ff;
}

#discord:hover>#discordsvg {
    fill: #5865F2;
}

#twitter:hover>#twittersvg {
    fill: #1DA1F2;
}

#prns:hover>#prnssvg {
    fill: #e36ffa;
}

@keyframes svguwu {
    0% {
        left: 60%;
        opacity: 0;
        transform: rotateZ(340deg);
    }
    100% {
        left: 40%;
        opacity: 1;
        transform: rotateZ(350deg);
    }
}

svg {
    position: absolute;
    left: -15%;
    height: 15%;
    width: 15%;
    fill: rgb(99, 99, 99);
    transition: 0.3s fill;
}

canvas {
    width: 100%;
    left: 20%;
    position: absolute;
}

#spotify-widget {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0
}

#steam-card {
    position: absolute;
    width: 15%;
    height: 5%;
    display: box;
    background-color: white;
    z-index: 4;
}

@media screen and (max-width: 800px) {
    .logo {
        font-size: 10vw;
    }
    #tagcontainer {
        top: 17vw;
        left: 4vw;
    }
    #tagcontainer>h3 {
        font-size: 2.5vw;
        padding-top: 1px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .desc {
        top: 25vw;
        font-size: 5vw;
        left: 8vw;
    }
    .devtext {
        font-size: 3vw;
    }
    canvas {
        transform: scale(50%);
    }
}